html, 
body {
    height: 0;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: lowercase;
}

p {
    font-family: monospace;
}


cookie-banner:not(:defined),
directory-listin:not(:defined),
main-card:not(:defined) {
    display: none;
}