:root {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-tertiary: #000000;
    --color-quaternary: #000000;
    --color-quinary: #000000;
    --color-senary: #000000;
    --color-septenary: #000000;
    --color-octonary: #000000;
    --color-nonary: #000000;
    --color-denary: #000000;


    /* card */
    --card-width: 680px;
    --card-height: 680px;

    /* space */
    --space-small: 10px;
    --space-medium: 20px;

    /* font */
    --font-family-monospace: monospace;
    --font-family-sans-serif: sans-serif;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-weight-bold: bold;
    --font-weight-normal: normal;
    --font-color: #000000;
}